.about {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
}

.infos {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;
    margin-top: 10px;
}
.infos h1{
    z-index: 2;
    color: rgb(240,240,240);
    font-family:'Poppins', sans-serif;
    font-size: 45px;
    font-style:bold;
}

.infos h2{
    z-index: 2;
    color: rgb(200,200,200);
    font-family:'Poppins', sans-serif;
    font-size: 40px;
    font-style:bold;
}
.infos h3{
    z-index: 2;
    color: rgb(130,130,130);
    font-family:'Poppins', sans-serif;
    font-size: 30px;
    font-style:bold;
    margin-top:-20px;
}

.infos img{
    z-index: 2;
}


@media screen and (max-width:768px){
     .infos h1{
         font-size: 5vh;
     }
      .infos h2{
         font-size: 27px;
         text-align: center;
     }

     .infos h3{
         font-size: 20px;
         text-align: center;
     }
     .infos img{
         width: 50%;
         height:auto;
     }
 }